{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ record['patient_name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="patient_name">patient_name</label>
    <input name="patient_name" id="patient_name" value="{{ request.form['patient_name'] or record['patient_name'] }}" required>
    <label for="doctor_name">doctor_name</label>
    <input name="doctor_name" id="doctor_name" value="{{ request.form['doctor_name'] or record['doctor_name'] }}" required>
    <label for="diagnoses">diagnoses</label>
    <input name="diagnoses" id="diagnoses" value="{{ request.form['diagnoses'] or record['diagnoses'] }}" required>
    <label for="registration_date">registration_date</label>
    <input name="registration_date" id="registration_date" type="date" value="{{ request.form['registration_date'] or record['registration_date'] }}" required>
     <label for="last_checkup_date"">last_checkup_date</label>
    <input name="last_checkup_date" id='last_checkup_date' type="date" value="{{ request.form['last_checkup_date'] or record['last_checkup_date'] }}" required>
    <label for="comment">comment</label>

    <textarea name="comment" id="comment">{{ request.form['comment'] or record['comment']}}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('med.delete', id=record['_id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}


